.storybook-button {
  font-family: 'BCSans', 'BC Sans', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #ffffff;
  background-color: #1a5a96; /* BC Gov Blue 70 */
}
.storybook-button--primary:hover {
  background-color: #003366; /* BC Gov Blue */
}
.storybook-button--secondary {
  color: #1a5a96; /* BC Gov Blue 70 */
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #1a5a96 inset;
}
.storybook-button--secondary:hover {
  background-color: #edebe9;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
